<!doctype html>
<html>
  <head>
	<title>{{ title }}</title>
  </head>
  <body>
	<h1>{{ title }}</h1>
  <ul>
  {% for error in errors %}
    <li>{{ error.error }}</li>
  {% endfor %}
  </ul>
  </body>
</html>
