# Include the html templates
recursive-include hypothesisfuzzer/build *
include hypothesisfuzzer/package.json
include hypothesisfuzzer/package-lock.json
recursive-include hypothesisfuzzer/public *
recursive-include hypothesisfuzzer/src *
recursive-include hypothesisfuzzer/static *
